.App {
  text-align: center;
}

.searchinput{
  background: rgba(255,255,255,19%);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px solid rgba(255,255,255,.4);
  border-top: 1px solid rgba(255,255,255,.4);
  border-bottom: 1px solid rgba(255,255,255,.4);
  border-right: transparent;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  outline: 0;
}

.searchButton{
  background: rgba(255,255,255,19%);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid rgba(255,255,255,.4);
  border-top: 1px solid rgba(255,255,255,.4);
  border-bottom: 1px solid rgba(255,255,255,.4);
  border-left: transparent;
  width: 100%;
  box-sizing: border-box;
  color: rgba(255,255,255,.8);
  cursor: pointer;
}

.search{
  display: inline-grid;
  grid-template-columns: auto 50px;
  width: 700px;
  margin: 20px auto 10px auto;
}

.card{
  height: 410px;
  width: 180px;
  margin: 10px;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  font-weight: 600;
  font-family: cursive;
}

.cardImage{
  width: auto;
}

.cardsGroup{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardTitle{
  height: 40px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #343434;
  font-weight: 700;
}

.imagesrc{
  height: 340px;
}

.button{
  background: rgba(255,255,255,19%);
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 8px;
}